@path: '/img/brand';

.brand-logo {
  display: block;
  width: 100%;
  height: 70px;
  background-size: contain !important;
  background: no-repeat center;
}

.php {
  background-image: url("@{path}/PHP_Logo.png");
}

.zendframework {
  background-image: url("@{path}/ZendFramework_Logo.png");
}

.mysql {
  background-image: url("@{path}/Mysql_Logo.png");
}

.javascript {
  background-image: url("@{path}/JS_Logo.jpg");
}

.jquery {
  background-image: url("@{path}/Jquery_Logo.png");
}

.ajax {
  background-image: url("@{path}/Ajax_Logo.png");
}

.sqlite {
  background-image: url("@{path}/Sqlite_Logo.png");
}

.postgresql {
  background-image: url("@{path}/PostgreSQL_Logo.png");
}

.html5 {
  background-image: url("@{path}/html5_Logo.png");
}

.css3 {
  background-image: url("@{path}/css3_Logo.png");
}

.bootstrap {
  background-image: url("@{path}/bootstrap_Logo.png");
}

.xml {
  background-image: url("@{path}/xml_Logo.png");
}

.json {
  background-image: url("@{path}/json_Logo.png");
}

.elasticsearch {
  background-image: url("@{path}/Elasticsearch_Logo.png");
}

.gulp {
  background-image: url("@{path}/gulp_Logo.png");
}

.git {
  background-image: url("@{path}/git_Logo.png");
}

.composer {
  background-image: url("@{path}/composer_Logo.png");
}

.npm {
  background-image: url("@{path}/npm_Logo.png");
}

.bower {
  background-image: url("@{path}/bower_Logo.png");
}

.vagrant {
  background-image: url("@{path}/Vagrant_Logo.jpg");
}

.paypal {
  background-image: url("@{path}/PayPal_Logo.png");
}

.web-scraper {
  background-image: url("@{path}/web-scraper_Logo.png");
}

.doctrine {
  background-image: url("@{path}/doctrine_Logo.png");
}

.rest {
  background-image: url("@{path}/rest_Logo.png");
}

.filemaker {
  background-image: url("@{path}/Filemaker_Logo.png");
}

.ebay {
  background-image: url("@{path}/ebay_Logo.png");
}

.amazon {
  background-image: url("@{path}/amazon_Logo.png");
}

.geo {
  background-image: url("@{path}/geolocation_Logo.png");
}
